<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SerbestIS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'img/about.css' %}" />
  </head>
  <body>
    <header>
      <h1>Forgery Detection System</h1>
      <nav>
        <ul>
          <li><a href="{% url 'logabout' %}">Home</a></li>
        </ul>
      </nav>
    </header>
    <section class="about-section">
      <h2>About</h2>
      <p>
        Welcome to our Forgery Image Detection System. We are dedicated to
        ensuring the authenticity and integrity of digital images in today's
        digital age.
      </p>
      <p>
        Our team of experts uses advanced algorithms, machine learning, and
        digital forensics techniques to detect and prevent image forgery. We are
        committed to providing a reliable solution to combat the challenges
        posed by manipulated images.
      </p>
      <p>
        Forgery or forged images refer to images that have been manipulated or
        altered with the intent to deceive or mislead. In the context of digital
        images, forgery involves making unauthorized changes to the visual
        content of a picture. With the widespread availability of sophisticated
        image editing software, creating forged images has become more
        accessible, and as a result, the need for forgery detection systems has
        increased.
      </p>
      <p>
        Forgery image detection systems are designed to identify and flag
        manipulated or forged images. With the rise of advanced image editing
        tools, the need for reliable methods to detect fraudulent alterations
        has become crucial. These systems use various techniques and algorithms
        to analyze images and identify signs of manipulation.
      </p>
      <p>
        Forgery image detection is a challenging field due to the continuous
        development of sophisticated manipulation techniques. As a result,
        researchers and developers are constantly working to enhance the
        capabilities of forgery detection systems to ensure their effectiveness
        in identifying manipulated images.
      </p>
    </section>

    <footer>
      <p>&copy; 2023 Forgery Detection System</p>
    </footer>
  </body>
</html>
